@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --dark-text-: black;
    --text-color-: #48484A;
    --text-hover-: #4453AC;
    --light-text-: #79797B;
    --bgc-color-: #4E96E9;
}

.experince-section{
    padding: 20px 90px 20px 350px;
}
.experince-list{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;

}
.container{
    padding: 10px 50px;
    position: relative;
    width: 80%;
    max-height: 150px;
    background: rgba(0, 0 , 0, 0.3);
    overflow: scroll;
    text-overflow: ellipsis;
}
.text-box{
    padding: 20px 30px;
}